body{

    background-color: rgb(75, 73, 73);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

input{

    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#botao {

    border-radius: 5px;
    height: 40px;
    width: 40px;
}